<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/user/register" method="POST">
        <dic class="input-feilds">
            <div>
                <input
                type="email"
                id="email"
                name="email"
                placeholder="Email" required>
            </div>
            <div class="input-feilds">
                <input
                type="password"
                id="password"
                name="password1"
                placeholder="Password" required>
            </div>
            <div><input type="submit" value="Login"></div>
            <a href="/user/register">New a User Register Here</a>
        </dic>
    </form>
</body>
</html>